@model Finan.DAL.tipo_movto

@{
    Layout = null;
    string gravado = (string)ViewBag.gravado;
}



<div class="modal-dialog modal-lg">
    <div class="modal-content" id="modal1">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
            <h4 class="modal-title">Tipo de Movimentação</h4>
        </div>
        <div class="modal-body">
            <div class="row">
                @using (Ajax.BeginForm("Edit", "TipoMovto", new AjaxOptions
                {
                    UpdateTargetId = "modal-edit",
                    InsertionMode = InsertionMode.Replace,
                    HttpMethod = "Post",
                    OnFailure = "alert('erro');",
                    OnSuccess = "buscar();",
                    OnComplete = "complete();"

                }, new { id = "form1" }))
                {

                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true)
                    @Html.HiddenFor(model => model.id_tipo_movto)

                    <div class="row">
                        <div class="col-lg-6 col-sm-12">
                            <div class="form-group">
                                @Html.LabelFor(model => model.descricao)
                                @Html.TextBoxFor(model => model.descricao, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.descricao)
                            </div>
                        </div>

                        <div class="col-lg-6 col-sm-12">
                            <div class="form-group">
                                @Html.LabelFor(model => model.tipo_lancamento)
                                @Html.DropDownListFor(model => model.tipo_lancamento, new List<SelectListItem>
                           {
                                   new SelectListItem { Text = "Débito", Value = "D"  },
                                   new SelectListItem { Text = "Crédito", Value = "C"  },
                           }, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.tipo_lancamento)
                            </div>
                        </div>
                    </div>

                }
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" onclick="$('#form1').trigger('submit');" class="btn btn-primary"><i class="fa fa-save"></i> Salvar</button>
            <button type="button" id="btnFechar" class="btn btn-white" data-dismiss="modal"><i class="fa fa-times"></i> Fechar</button>
        </div>

    </div>
</div>

<script>

    function complete() {
        if ('@gravado' == 'true') {
            $('#btnFechar').trigger('click');
        }
    }
</script>
